<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Library</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/order}" method="post">
		<label for="name">First Name:</label>
		<input type="text"  id="name" value="name" disabled/><br>
		
		<label for="surname">Last Name: </label>
		<input type="text"  id="surname" value="surname" disabled/><br>
		
		<label for="address">Address:</label>
		<input type="text"  id="address" value="address" disabled/><br>
		
		<label for="title">Book:</label>
		<input type="text"  id="title" value="title" disabled/><br>
		
		<label for="start">Order for:</label>
		<input type="date"  id="start" th:value="${nextDay}" th:min="${nextDay}" th:max="${nextWeek}" />
		
		<label for="end">Return before:</label>
		<input type="date"  id="end" th:value="${nextWeek}" th:min="${nextWeek}" th:max="${nextHalf}" /> <br>
		
		<button type="submit">Confirm</button>
	</form> <br>
	<a th:href="@{/bookview(bookID=${bookID})}"> 
		<button> Cancel </button> 
	</a> 
</body>
</html>